# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry
azure-functions==1.21.0
#azure-functions==1.21.0
azurefunctions-extensions-bindings-eventhub
requests
azure-identity
azure-keyvault-secrets
#cryptography==41.0.7
psycopg2-binary>=2.9.9
sendgrid
