name: Terraform CI/CD

on:
  pull_request:
    paths:
    - 'Terraform/**'

  push:
    branches:
    - main
    paths:
    - 'Terraform/**'

jobs:
  build:
    name: Terraform Build
    runs-on: ubuntu-latest

    outputs:
      artifact-name: terraform-plan

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Plan on PR
    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.9.8

    - name: Terraform Format
      run: terraform fmt -check -recursive
      working-directory: Terraform

    - name: Terraform Init
      run: terraform init
      working-directory: Terraform

    - name: Terraform Validate
      run: terraform validate
      working-directory: Terraform

    # Everything below requires secrets 
    - name: Azure Login
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set Terraform Azure credentials
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        echo '${{ secrets.AZURE_CREDENTIALS }}' > creds.json
        echo "ARM_CLIENT_ID=$(jq -r .clientId creds.json)" >> $GITHUB_ENV
        echo "ARM_CLIENT_SECRET=$(jq -r .clientSecret creds.json)" >> $GITHUB_ENV
        echo "ARM_SUBSCRIPTION_ID=$(jq -r .subscriptionId creds.json)" >> $GITHUB_ENV
        echo "ARM_TENANT_ID=$(jq -r .tenantId creds.json)" >> $GITHUB_ENV
        rm -f creds.json
      shell: bash

    - name: Set Credentials for Terraform
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        echo "TF_VAR_synapse_sql_password=${{ secrets.SYNAPSE_SQL_PASSWORD }}" >> $GITHUB_ENV
        echo "TF_VAR_postgres_admin_password=${{ secrets.POSTGRES_ADMIN_PASSWORD }}" >> $GITHUB_ENV
      shell: bash

    - name: Terraform Plan
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: terraform plan -input=false -out=tfplan
      working-directory: Terraform

    - name: Upload Plan Artifact
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/upload-artifact@v4
      with:
        name: terraform-plan
        path: Terraform/tfplan
        retention-days: 1

  deploy:
    name: Terraform Deploy
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download Terraform plan artifact
      uses: actions/download-artifact@v4
      with:
        name: terraform-plan
        path: Terraform

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.9.8

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set Terraform Azure credentials
      run: |
        echo '${{ secrets.AZURE_CREDENTIALS }}' > creds.json
        echo "ARM_CLIENT_ID=$(jq -r .clientId creds.json)" >> $GITHUB_ENV
        echo "ARM_CLIENT_SECRET=$(jq -r .clientSecret creds.json)" >> $GITHUB_ENV
        echo "ARM_SUBSCRIPTION_ID=$(jq -r .subscriptionId creds.json)" >> $GITHUB_ENV
        echo "ARM_TENANT_ID=$(jq -r .tenantId creds.json)" >> $GITHUB_ENV
        rm -f creds.json
      shell: bash

    - name: Set Credentials for Terraform
      run: |
        echo "TF_VAR_synapse_sql_password=${{ secrets.SYNAPSE_SQL_PASSWORD }}" >> $GITHUB_ENV
        echo "TF_VAR_postgres_admin_password=${{ secrets.POSTGRES_ADMIN_PASSWORD }}" >> $GITHUB_ENV
      shell: bash

    - name: Terraform Init
      run: terraform init
      working-directory: Terraform

    - name: Terraform Apply
      run: terraform apply -input=false -auto-approve tfplan
      working-directory: Terraform
